.expenses-filter {
    color: white;
    padding: 0 1rem;
  }

.expenses-filter__control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

.expenses-filter__control label{
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.expenses-filter__control select{
    padding: 0.5rem 3rem;
    font: inherit;
    font-weight: 700;
    border-radius: 6px;
}